/* Created by Sandaroo - 2013197 & Sinthujan - 2013046 */

@font-face {
    font-family: 'Franklin';
    src: url(fonts/franklin-gothic-medium-cond.ttf);
}
@font-face {
    font-family: 'Avenir';
    src: url(fonts/avenir.otf);
}

h2{ 
    top: 100%;
    bottom: 100%;
    margin-top: 50px;
    font-size: 150%;
    font-family: 'Franklin';
    color: #5b4537;
}
h4{
    font-family: 'Franklin';
    font-size: 130%;
    color: #5b4537;
}

.trip_list_item h4 {
    font-family: 'Franklin';
    color: #ffffff;
}

.logo{
    min-height: 80px;
    min-width: 80px;
}

.nav_list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #009688;
    min-width: 100%;
    text-align: center;
}

.nav_list_item {
    display: inline;
    font-size: 110%;
}

.nav_list_item a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 7px;
    text-decoration: none;   
    transition-duration: .4s ;
    font-family: 'Franklin';
}

.nav_list_item a:hover:not(.active) {
    background-color: #72c4a8;
    text-decoration: none;
    color: white;   
    transition-duration: .4s ;
    font-family: 'Franklin';
}

.active {
    text-decoration: none;
    color: white;
    background-color: #72c4a8;   
    transition-duration: .4s ;
}
 
.row_element{
    display: inline-block;
}

#slides 
{
    width: 100%;
    min-width: 100%;     
    height: 50%;
    min-height: 150px;
    max-height: 300px;
    overflow: hidden; 
    position: relative;
    display: block;
    margin-bottom: 15px;
}
.slide_image {
    position: absolute;
    margin: auto; 
    width: 100%;    
    min-height: 150px;
    min-width: 100%; 
    left: -10%;
    right: -10%;
    top: -100%;
    bottom: -100%; 
    z-index: 4000;
}

img {
    max-width: 100%;
    height: auto;
    padding-bottom: 5px;
}

.left_arrow{ 
    float:left; 
}
.right_arrow{ 
    float:right;   
}
.arrow{
    position: relative; 
    display: block;
    background-color: transparent; 
    width: 10%; 
    padding: 10px 7px;
    margin: 20px;    
    margin-top: 55px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white  ;
    z-index: 99999;    
}
.arrow:hover {
    color: #72c4a8;      
    transition-duration: .4s ; 
}
.arrow:active {
    color: #72c4a8;  
}

p { 
    text-align: left;
    font-family: 'Avenir';
    font-size: 115%;
}

.p_description{
/*    margin-top: 15px; */
    text-align: left;
    color: #404040;
}

.buttonlink{
    /* display: block; */
    background-color: #009688; 
    width: 100px;
    height: 40px;
    padding: 10px 7px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white  ;
    border: none;
    transition-duration: .4s ; 
    font-family: 'Avenir';
}

.alt_buttonlink{
    /* display: block; */
    background-color: #404040; 
    width: 100px;
    height: 40px;
    padding: 10px 7px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white  ;
    border: none;
    transition-duration: .4s ; 
    font-family: 'Avenir';
}

.buttonlink:hover {
    background-color: #72c4a8;      
    transition-duration: .4s ;
}

.alt_buttonlink:hover {
    background-color: #404040;      
    transition-duration: .4s ;
}

.buttonlink:active {
    background-color: #72c4a8; 
    transform: translateY(1px);
}

.alt_buttonlink:active {
    background-color: #404040; 
    transform: translateY(1px);
}

.b_center{
    margin: auto;
    width: 70%;
    max-width: 250px;
    margin-top: 10px;
}

.b_sml{
    margin: auto;
    width: 70%;
    max-width: 80px;
    font-family: 'Avenir';
}

.alt_b{
    background-color: #000000;
    margin: auto;
    width: 70%;
    max-width: 250px;
    font-family: 'Avenir';
}

.textfields{
    width: 100%;
    height: 40px;
    padding: 10px 7px;
    margin: auto;
    max-width: 250px;
    font-family: 'Avenir';
    color: #404040;
}

textarea {
    width: 100%;
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Avenir';
    color: #404040;
    resize: none;
    font-size: 100%;
    padding: 10px 7px;
}

.icon_btn {
    margin-top: 30px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.vplacse_list{
    list-style-type: none;
    margin: 10px;
    padding: 0;
/*    overflow: hidden; */
    min-width: 310px;
    font-family: 'Avenir';
}

.vplacse_list_item {
/*    float: left;*/
}
.colored_tr{
    background-color: #009688; 
    color: white;
}

.trip_list_item{
    background-color: #5b4537; 
    margin-top: 5%;
/*    width: 100%;*/
    min-height: 150px;
    max-height: auto;
    color: white;
}
.trip_list_image_cont{
    width: 50%;
    min-width: 50%;  
/*    height: 50%;*/
    min-height: 150px;
    max-height: 300px;
    overflow: hidden; 
    position: relative;
    display: block; 
    background-color: #5b4537;
}
.trip_list_image {
    position: absolute;
    margin: auto;   
    min-height: 150px;   
    min-width: 200px;
    width: 100%;  
    left: -50%;
    right: -50%;
    top: -100%;
    bottom: -100%;     
}

.trip_description {
    font-size: 80%;
}

#user_pic{ 
    min-height: 100px;
    min-width: 100px;
    max-width: 40%;
    height: auto;
    float: right;
}

.rating{
    display: block;
    float: left;
    color: #009688; 
    font-size:150%;
}

.buttonpm{
    display: block;
    background-color: #5b4537; 
    border-radius: 30px 30px 30px 30px; 
    width: 30px;
    height: 30px;
    padding: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white  ;
    border: none;
    transition-duration: .4s ;  
}

.buttonpm:hover {
    background-color: #72c4a8;    
    transition-duration: .4s ;
}

.buttonpm:active {
    background-color: #72c4a8; 
    transform: translateY(1px);
}

.footer{ 
    margin-bottom: 50px; 
}

#location_map {
    width: 100%;
    height: 300px;
    outline: thin;
    border: solid;
    border-width: 1px;
}

.flexbox { display: flex; }
.flexbox .stretch { flex: 1; }
.flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
.flexbox div .trip_code_textfield { 
    padding: .5em 1em; 
    width: 100%;
    height: 40px;
    font-family: 'Avenir';
    color: #404040;
}
.flexbox div .trip_code { 
    width: 100%;
    height: 40px;
    padding-right: 30px;
    padding-left: 30px;
    font-family: 'Avenir';
}


#trip_details p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#location_title {
    float: left;
    font-family: 'Franklin';
    color: #5b4537;
    margin-top: 10px;
    font-size: 130%;
    margin-left: 5px;
}
#distance_to_location {
    float: right;
    font-size: 15px;
    font-family: 'Franklin';
    color: #5b4537;
    margin-top: 10px;
    font-size: 130%;
    margin-right: 5px;
}
#location_descrip { 
    font-size: 115%;;
    font-family: 'Avenir';
    color: #404040;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    text-align: left;
}

#quiz_question {
    font-size: 115%;
    font-family: 'Avenir';
    color: #404040;
    margin-left: 20px;
    margin-right: 20px;
}
.answers {
    font-size: 115%;
    font-family: 'Avenir';
    color: #404040;
}

#hunt_summary {
    font-size: 115%;
    font-family: 'Avenir';
    color: #404040;
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    text-align: left;
}

.comment_item{ 
    padding-bottom: 10px;
}
.comment{
    font-size: 100%; 
    font-family: 'Avenir';
    color: #404040; 
    
}

.comment_by{
    font-size: 80%;
    font-family: 'Avenir';
    color: #404040; 
    margin-top: -6px;
}

.comment_hr{
    margin: 0px;
    padding: 0px;
}

.user_details {
    font-family: 'Avenir';
    color: #404040;
}

#login_error{  
    padding-top: 100px; 
}
#login_error p{
    color: red;
    text-align: center; 
}
.login_status{
    padding-top: 55px;
    min-width: 100px;
    float: right; 
    font-size: 90%;
    text-align: right;  
}
.user_button{
    color: black;
    text-decoration: none;
}

.user_button:hover {
    color: #009688; 
    cursor: pointer;
    text-decoration: none;
}

#cancelbut{
/*    height: */
    opacity: 0.6;
    float: right;
}

iframe {
    width: 100%;
}

.tripList_favrt_add {
    color: #009688;
    float: right; 
    font-size: 120%; 
    cursor: pointer;
}

.tripList_favrt_rem {
    color: #009688;
    float: right; 
    font-size: 120%;  
    cursor: pointer;   
}  